.row.h2 
	Create New Section

=form_for [:admin, @section], url: admin_new_section_path do |f|
	.row.form-group
		.col-md-2=f.label :name
		.col-md-4=f.text_field :name, class: 'form-control'
	.row.form-group
		.col-md-2=f.label :description
		.col-md-6=f.text_area :description, class: 'form-control', rows: 10
	.row.form-group
		.col-md-2=f.submit 'save', class: 'btn btn-primary'