
.row.h2 Sections

.row{style: 'padding-bottom: 30px;'}=link_to 'add new section', admin_new_section_path, class: 'btn btn-default'

.row
	.col-md-12
		%ul
			-@sections.each do |section|
				%li=link_to section.name, admin_section_path(section)